
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'android';
    src: url("../fontes/idroid.otf") format('opentype');
    font-weight:normal;
}

:root{
    --cor1:#6485FB;
    --cor2:#1849FA;
    --cor3:#143BC7;
    --cor4:#0C247A;
    --cor5:#31417A;

    --fonte-padrão: arial, verdana, helvetica, sans-serif;
    --fonte-destaque: "bebas neue", sans-serif;
    --fonte-android:'android', sans-serif;
}
*{
 margin:0px;
 padding:0px;
}

/*bODY*/
body{
    background-color:var(--cor1);
    font-family: var(--fonte-padrão);
   
}


/*HEADER*/
header{
    background-image: linear-gradient(to top, var(--cor4), var(--cor2), var(--cor1));
    min-height:180px;
    text-align:center;
    box-shadow:0px 17px 8px 3px black;
    padding:10px;

}
header>p{
    color:white;
    min-width: 250px;
    max-width: 800px;   
    margin: auto;
    font-size:1.2em;
    padding: 0px 10px 0px 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.274); 

}
header>h1{
    color:white;
    font: normal 3.5em var(--fonte-destaque);
    min-width: 250px;
    max-width: 800px;   
    margin: auto;
    padding-top: 40px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.274);
}


/*NAV*/
nav{
    background-color:var(--cor4);
    padding-bottom:9px;
}
nav > a{
    color:white;
    padding:5px;
    margin:4px;
    text-decoration:none;
    font-weight: bold;
    transition-duration: .5s;

}
nav>a:hover{
        background-color: #6485FB;
        border-radius:5px;
}

/*MAIN*/
main{
    background-color:white;
    min-width:240px;
    max-width:800px;
    padding:15px;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452);
    border-radius: 0px 0px 10px 10px;


}
main h1{
    text-align:center;
    color: var(--cor3);
    font-family:var(--fonte-android);
    font-size:2em;

}
main h2{
    background-image:linear-gradient(to right,#a0b4ff , #d1dbfd);
    font-family:var(--fonte-android);
    color:var(--cor3)
}
main a{
    color:var(--cor4);
    font-weight:bold;
    text-decoration: none;
    background-color:#88a2ffcb;
    border-radius:4px;
    padding:4px;

}
main p{
    margin:15px 0px;
    text-align:justify;
    text-indent: 30px;
    line-height:2em;
}
main a:hover{
    color:white;
    font-weight:bold;
    text-decoration: underline;
    text-shadow:1px 1px 7px rgba(0, 0, 0, 0.473); 
    border-radius:4px;
    padding:4px;
    transition-duration: .3s;

}

/*VIDEO*/
div.video{
    background-color: #1849FA;
    margin:0px -15px 30px -15px;
    padding:20px;
    padding-bottom: 56.5%;

    position:relative
}
div.video>iframe{
    position: absolute;
    top:5%;
    left:5%;
    width:90%;
    height:90%;

}


/*FOOTER*/
main img{
    width:100%;
    display:block;
    margin: auto;
}
main img.pequena{
    max-width:300px;
}aside{
    background-color:var(--cor1);
    padding: 10px;
    border-radius:10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.514);
    font-weight:bold;
}
aside h3{
    background-color: var(--cor3);
    padding: 5px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    color:white;
}
aside > ul{
    list-style-type:"\2714 \00a0\00a0" ;
    list-style-position: inside;
    columns: 2;

}


/*A*/
a.externo::after{
    content:"\00a0\00a0\1F517";
}
footer{
    background-color: var(--cor4);
    padding:9px;
    color:white;
    border-radius:5px;
    text-align:center;
    margin: 10px;
}
footer a{
    color:white;
    font-weight: bold;
    text-decoration:none;
}
footer a:hover{
    text-decoration:underline;
}
